/* * {
    border: 1px solid gold;
}  */

.container {
    /* border: 1px solid black; */
    max-width: 100vw;
    max-height: 100vh;
    margin: auto;
    background-color: turquoise
  }
  
  header {
    font-size: 100px;
    text-align: center;
    color: whitesmoke;
    width: 100vw;
    height: 100vh;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-math-improve-class-winter-vacation-hand-drawn-chalkboard-background-image_186695.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .contentContainer {
    /* border: 2px solid purple; */
    margin: 5px;
  }
  
  .equation {
    /* border: 2px solid blue; */
    display: flex;
    /* background: white; */
    justify-content: space-around;
  }
  
  #equationElement1 {
    /* border: 2px solid orange; */
    margin: auto;
    /* background: white; */
    height: 150px;
    width: 100px;
    justify-content: space-around;
    font-size: 45px;
    text-align: center;
    color:darkblue;
  }
  
  #equationElement2 {
    /* border: 2px solid orange; */
    margin: auto;
    /* background: white; */
    height: 150px;
    width: 100px;
    justify-content: space-around;
    font-size: 45px;
    color:darkblue;
    text-align: center;
  }
  
  #mathSymbol {
    /* border: 2px solid turquoise; */
    margin: auto;
    /* background: white; */
    height: 150px;
    width: 100px;
    justify-content: space-around;
    font-size: 120px;
    text-align: center;
    color: darkblue;
  }
  
  .response {
    /* border: 2px solid red; */
    margin: 20px;
    /* background: white; */
    display: flex;
  }
  
  form {
    margin: auto;
  }
  
  .scoreBoard {
    display: flex;
  }
  
  .scoreBoard,
  h1 {
    text-align: center;
    color: darkblue;
  }
  
  #input-container {
    display: flex;
    margin: auto;
    padding: 20px;
  }
  
  #inputBox {
    height: 50px;
    width: 150px;
    font-size: 25px;
    text-align: center;
    border-radius: 15px;
    padding: 5px;
  }
  
  /* styling modal */
  
  #modal {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
  }
  
  #modal-textbox {
    background-color: rgb(210, 228, 240);
    height: 300px;
    width: 550px;
    border-radius: 2px;
    margin: 100px auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    padding: 2%;
    line-height: 120%;
    font: Arial;
    text-align: center;
  }
  
  #modal-footer {
    text-align: right;
  }
  
  h1 {
    padding-bottom: 15px;
  }
  
  .modal-buttons {
    padding: 14px 10px;
    background-color: rgb(173, 203, 281);
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;
    font-family: "Arial";
    cursor: pointer;
    font-size: 10px;
  }
  
  /* TIMER */
  #timer {
    /* display: flexbox; */
    position: relative;
    text-align: center;
    color: darkblue;
    padding: 10px;
  }
  
  /* RESPONSIVE DESIGN */
  
  @media only screen and (min-device-width: 414px) and (max-device-width: 896px) {
  }
  
  /* CREATING TABS */
  /* #tabs {
    width: 100%;
    height: 30px;
    border-bottom: solid 1px #ccc;
    padding-right: 2px;
    margin-top: 30px;
  }
  a {
    cursor: pointer;
  }
  
  #tabs li {
    float: left;
    list-style: none;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-right: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    outline: none;
  }
  
  #tabs li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    color: #5685bc;
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 8px;
    display: block;
    background: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-decoration: none;
    outline: none;
  }
  
  #tabs li a.inactive {
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    color: #666666;
    background: #eee;
    outline: none;
    border-bottom: solid 1px #ccc;
  }
  
  #tabs li a:hover,
  #tabs li a.inactive:hover {
    color: #5685bc;
    outline: none;
  }
  
  .container {
    clear: both;
    width: 100%;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    text-align: left;
    padding-top: 20px;
  }
  
  .container h2 {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    color: #5685bc;
  }
  
  .container p {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.3;
    font-size: small;
  }
  
  .container ul {
    margin-left: 25px;
    font-size: small;
    line-height: 1.4;
    list-style-type: disc;
  }
  
  .container li {
    padding-bottom: 5px;
    margin-left: 5px;
  } */
  