/* * {
    border: 1px solid gold;
}  */

body {
  margin: 0;
}

.container {
  /* border: 1px solid black; */
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: rgb(251, 214, 198);
}

/* TIMER */
#timer {
  /* display: flexbox; */
  position: relative;
  text-align: center;
  color: darkblue;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

/*SCOREBOARD*/

.scoreBoard {
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.scoreBoard,
h1 {
  text-align: center;
  color: darkblue;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

/* MATH EQUATION */

.contentContainer {
  /* border: 2px solid purple;  */
  margin: 5px;
  padding: 5px;
}

.equation {
  /* border: 2px solid blue; */
  display: flex;
  /* background: white; */
  justify-content: space-between;
}

#equationElement1, #equationElement2 {
  /* border: 2px solid orange; */
  margin: auto;
  /* background: white; */
  height: 200px;
  width: 200px;
  justify-content: space-around;
  font-size: 80px;
  text-align: center;
  color: darkblue;
  font-family: Arial, Helvetica, sans-serif;
}

#newVal, #secondNewVal {
  margin: 0;
  left: 50%;
  top: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

#mathSymbol {
  /* border: 2px solid green; */
  margin: auto;
  /* background: white; */
  height: 150px;
  width: 100px;
  justify-content: space-around;
  font-size: 100px;
  text-align: center;
  color: darkblue;
  font-family: Arial, Helvetica, sans-serif;
}

#mathSymbol,
h3 {
  margin: 0;
  left: 50%;
  right: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

/*USER INPUT */

form {
  margin: auto;
}

#input-container {
  display: flex;
  margin: auto;
  padding: 20px;
}

#inputBox {
  height: 50px;
  width: 150px;
  font-size: 25px;
  text-align: center;
  border-radius: 15px;
  padding: 5px;
}

#input-container,
.equation {
  display: none;
}


/* RESPONSIVE DESIGN */

@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {}